body {
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
  min-height: 100vh;
  background: linear-gradient(#a87dbc, #fff, #feea8d);
  overflow-x: hidden;
}

.header {
  background-color: rgb(84, 84, 84);
  position: sticky;
}
.icon {
  position: relative;
}

h1 {
  margin: 0;
}

.cart_body {
  margin-top: 2rem;
  max-width: 1200px;
  width: 100%;

  .table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #eee;
    width: 100%;
    background-color: #fff;
    thead {
      background-color: tomato;
      th {
        width: 50%;
        padding: 0.5rem;
        color: #fff;
        font-size: 1rem;
        padding: 0.5rem 2rem;
      }
    }
    tbody {
      overflow-x: auto;
      tr {
        transition: 0.4s;
        td {
          text-align: center;

          i {
            transition: 0.4s;
            cursor: pointer;
            &:hover {
              color: #fff;
            }
          }
          .img_text {
            display: flex;
            align-items: center;
            img {
              margin: 0 20px 0 2rem;
              max-width: 70px;
              width: 100%;
              max-height: 70px;
              height: 100%;
              object-fit: cover;
            }
            p {
              flex: 1;
            }
          }
        }
        &:hover {
          background-color: #ddd;
        }
        &:nth-child(even) {
          background-color: #f2f2f2;
        }
      }
    }
  }
}

.total {
  width: 100%;
  max-width: 1200px;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &_item {
    background-color: #fff;
    width: 100%;
    border-top: 0.5rem solid #ddd;
    border-bottom: 0.5rem solid #ddd;
    h3 {
      text-align: center;
      text-transform: uppercase;
    }
    &:nth-child(1) {
      border-bottom: none;
      h3 {
        padding: 1rem;
        font-size: 22px;
        border-bottom: 3px solid tomato;
      }
      .total_item_input {
        padding: 1rem;

        label {
          display: block;
          font-size: 16px;
          margin-top: 0.5rem;
          margin-bottom: 5px;
          color: rgb(84, 84, 84);
          span {
            color: red;
          }
        }
        input {
          font-family: "Nunito", sans-serif;
        }
        .total_item_input-text {
          width: 100%;
          height: 40px;
          font-size: 16px;
          transition: 0.3s;
          transform: none;
          padding: 10px;
          color: #000;
          border-radius: 0%;
          border: 1px solid #ccc;
          border-radius: 10px;
        }
        .total_item_input-flex {
          display: flex;
          justify-content: space-between;
          .total_item_input-flex-inblock {
            &:nth-child(1) {
              width: 60%;
            }

            &:nth-child(2) {
              width: 37%;
            }
          }
        }
      }
    }
    &:nth-child(2) {
      h3 {
        padding: 1rem;
        font-size: 22px;
        border-bottom: 3px solid tomato;
      }
      .total_item_input {
        width: 80%;
        border-bottom: 3px solid tomato;
        p {
          padding: 0.5rem;
          font-weight: bold;
        }
        span {
          float: right;
          font-weight: 400;
        }
        margin: auto;
      }
      h4 {
        width: 80%;
        margin: auto;
        padding: 1rem 0;
        font-size: 24px;
        span {
          float: right;
        }
      }
      button {
        width: 100%;
        border: none;
        padding: 0.5rem;
        font-weight: bold;
        font-size: 24px;
        text-transform: uppercase;
        transition: 0.4s;

        background-color: rgba(0, 0, 0, 0.6);
        color: #fff;
        cursor: pointer;
        &:hover {
          background-color: tomato;
        }
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .total {
    flex-direction: row;
    &_item {
      width: 40%;
      border: none;
      border-radius: 2rem;
      // box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
      &:nth-child(2) {
        button {
          border-bottom-right-radius: 2rem;
          border-bottom-left-radius: 2rem;
        }
      }
    }
  }
}

#content {
  position: absolute;
  height: 50px;
  width: 300px;
  margin-left: 170px;
  top: 50%;
  right: -18rem;
  transform: translate(0, -50%);
  z-index: 20;
}

#content.on {
  -webkit-animation-name: in-out;
  animation-name: in-out;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

input {
  box-sizing: border-box;
  width: 17px;
  height: 17px;
  border: 3px solid #fff;
  border-radius: 50%;
  background: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  outline: 0;
  transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
    padding 0.2s;
  transition-delay: 0.4s;
  transform: translate(-100%, 82%);
}

.search {
  background: none;
  position: absolute;
  top: 46%;
  left: 0;
  height: 20px;
  width: 20px;
  padding: 0;
  border-radius: 100%;
  outline: 0;
  border: 0;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.search:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 2px;
  background-color: #fff;
  transform: rotate(45deg);
  margin-top: 7px;
  margin-left: 7px;
  transition: 0.2s ease-in-out;
}

.close {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.close:before {
  content: "";
  position: absolute;
  width: 27px;
  height: 4px;
  margin-top: -1px;
  margin-left: -13px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.close:after {
  content: "";
  position: absolute;
  width: 27px;
  height: 4px;
  background-color: #fff;
  margin-top: -1px;
  margin-left: -13px;
  cursor: pointer;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.square {
  box-sizing: border-box;
  padding: 0 40px 0 10px;
  width: 300px;
  height: 50px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out,
    padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out,
    padding 0.2s;
  -webkit-transition-delay: 0.4s, 0s, 0.4s;
  transition-delay: 0.4s, 0s, 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-97%, 0%);
}
