@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap");

// 
// HIEU NGUYEN - 2001
// 


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: unset;
}

.bx {
  font-size: 1.4rem;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.w25 {
  width: 25%;
}
.w50 {
  width: 50%;
}
.w100 {
  width: 100%;
}
.container {
  max-width: 1400px;
  width: 100%;
  margin: auto;
}

.header {
  height: 60px;
  padding: 0 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  color: #fff;
  .menu {
    opacity: 0;
    visibility: hidden;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    animation: fadeID linear 0.3s;

    display: flex;
    flex-direction: column;
    a {
      display: block;
      padding: 1rem;
      background: #000;
      color: #fff !important  ;
      font-weight: bold;
      text-align: center;
    }
  }
  .nav_overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 5;

    display: none;
    animation: fadeID linear 0.3s;
  }
  .header_mobile_input {
    display: none;
    &:checked ~ .menu {
      opacity: 1;
      visibility: visible;
    }
    &:checked ~ .nav_overlay {
      display: block;
    }
  }
}

.banner {
  background-image: url(https://wallpaperaccess.com/full/2637588.jpg);
  height: 100vh;
}

.story {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  h3 {
    font-size: 24px;
    margin: 1rem 0;
  }
  p {
    letter-spacing: 1.5px;
    line-height: 1.5rem;
  }
}

.product {
  margin-top: 1rem;
  h3 {
    padding: 1rem;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      height: 5px;
      right: 40%;
      top: 50%;
      width: 5%;
      background-color: tomato;
    }
    &::before {
      position: absolute;
      content: '';
      height: 5px;
      top: 50%;
      left: 40%;
      width: 5%;
      background-color: tomato;
    }
  }
  &_content {
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: .5rem;
    &_item {
      cursor: pointer;
      &_top {
        overflow: hidden;
        position: relative;
        img {
          object-fit: cover;
          width: 100%;
        }
        &_text {
          opacity: 0;
          visibility: hidden;
          transition: .8s linear;

          color: #fff;
          height: auto;
          position: absolute;
          bottom: 0;
          left: 0;right: 0;padding: .5rem;
          background: rgba(0, 0, 0, 0.4);
          h4 {
            font-size: 22px;
            margin-bottom: 1.5rem;
          }
        }
      }
      .product_content_item_top:hover .product_content_item_top_text {
        opacity: 1;
        visibility: visible;
      }
      &_bottom {
        display: flex;
        align-items: center;
        button {
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3)  ;
          border: none;
          background-color: transparent;
          height: 40px;
          cursor: pointer;
          &:nth-child(1) {
            width: 80%;
            transition: .4s;
            &:hover {
              background-color: tomato;
              color: #fff;
            }
          }
          &:nth-child(2) {
            width: 20%;
            background-color: tomato;
            font-weight: bold;
            i {
              transition: .4s;
              color: #fff;
              font-size: 24px;
              animation: rotate 3s infinite linear;
              &:hover {
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }
  }
}

.ship {
  height: 10rem;
}



@keyframes fadeID {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes item {
  from {
    bottom: -100px;
  }
  to {
    bottom: 0;
  } 
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  } 
}



@media screen and (min-width: 900px) {
  .menu_mobile {
    display: none;
  }
  .menu {
    opacity: 1 !important;
    visibility: visible !important;

    position: relative !important;
    flex-direction: row !important;
    justify-content: center;

    a {
      padding: 10px;
      background-color: transparent !important;
      color: #111 !important;
    }
  }
  .icon {
    a {
      &:nth-child(2) {
        margin: 0 20px;
      }
    }
  }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 80%;
    h4 {
      background-color: tomato;
      padding: .5rem;
      font-size: 24px;
      color: #fff;
      font-weight: bold;
    }
    .modal-content_row {
      margin-top: 10px;
      display: flex;
      &_img {
        flex: 1;
        img {
          object-fit: cover;
          width: 100%;
        }
      }
      &_content {
        margin-left: 24px;  
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
      }
    }
  }
}