@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap");

//
// Tác gi
//

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: unset;
}

.bx {
  font-size: 1.4rem;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.w25 {
  width: 25%;
}
.w50 {
  width: 50%;
}
.w100 {
  width: 100%;
}
.container {
  max-width: 1400px;
  width: 100%;
  margin: auto;
}

.header {
  height: 60px;
  padding: 0 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background: transparent;
  color: #fff;

  z-index: 99;
  transition: 0.4s;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  .menu {
    opacity: 0;
    visibility: hidden;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    animation: fadeID linear 0.3s;

    display: flex;
    flex-direction: column;
    a {
      display: block;
      padding: 1rem;
      background: #000;
      color: #fff !important  ;
      font-weight: bold;
      text-align: center;

      transition: 0.3s;
    }
    .active,
    .btn:hover {
      background-color: tomato !important;
      color: white !important;
    }
  }
  .nav_overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 5;

    display: none;
    animation: fadeID linear 0.3s;
  }
  .header_mobile_input {
    display: none;
    &:checked ~ .menu {
      opacity: 1;
      visibility: visible;
    }
    &:checked ~ .nav_overlay {
      display: block;
    }
  }
}
.headerBg {
  background: tomato;
  opacity: 0.8;
}

.banner {
  background-image: url(https://wallpaperaccess.com/full/2637588.jpg);
  height: 100vh;
}

.story {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  h3 {
    font-size: 24px;
    margin: 1rem 0;
  }
  p {
    letter-spacing: 1.5px;
    line-height: 1.5rem;
  }
}

.product {
  margin-top: 1rem;
  h3 {
    padding: 1rem;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    &::after {
      animation: left 3s infinite linear;
      position: absolute;
      content: "";
      height: 5px;
      right: 35%;
      top: 50%;
      width: 5%;
      background-color: tomato;
      border-radius: 20px;
    }
    &::before {
      animation: left 3s infinite linear;
      position: absolute;
      content: "";
      height: 5px;
      top: 50%;
      left: 35%;
      width: 5%;
      background-color: tomato;
      border-radius: 20px;
    }
  }
  &_content {
    padding: 0 1rem;
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    &_item {
      cursor: pointer;
      &_top {
        overflow: hidden;
        position: relative;
        img {
          object-fit: cover;
          width: 100%;
        }
        &_text {
          opacity: 0;
          visibility: hidden;
          transition: 0.8s linear;

          color: #fff;
          height: auto;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          padding: 0.5rem;
          background: rgba(0, 0, 0, 0.4);
          h4 {
            font-size: 22px;
            margin-bottom: 1.5rem;
          }
        }
      }
      .product_content_item_top:hover .product_content_item_top_text {
        opacity: 1;
        visibility: visible;
      }
      &_bottom {
        display: flex;
        align-items: center;
        button {
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          border: none;
          background-color: transparent;
          height: 40px;
          cursor: pointer;
          &:nth-child(1) {
            width: 80%;
            transition: 0.4s;
            &:hover {
              background-color: tomato;
              color: #fff;
            }
          }
          &:nth-child(2) {
            width: 20%;
            background-color: tomato;
            font-weight: bold;
            i {
              transition: 0.4s;
              color: #fff;
              font-size: 24px;
              transition: 0.8s;
              &:hover {
                transform: rotate(360deg);
              }
            }
          }
        }
      }
    }
  }
}

.ship {
  height: 10rem;
}

@keyframes fadeID {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes item {
  from {
    bottom: -100px;
  }
  to {
    bottom: 0;
  }
}

@keyframes left {
  from {
    width: 1%;
  }
  to {
    width: 5%;
  }
}

@media screen and (min-width: 900px) {
  .menu_mobile {
    display: none;
  }
  .menu {
    opacity: 1 !important;
    visibility: visible !important;

    position: relative !important;
    flex-direction: row !important;
    justify-content: center;

    a {
      border-radius: 15px;
      margin-right: 10px;
      padding: 0.5rem !important;
      background-color: transparent !important;
      color: #111 !important;
    }
  }
  .icon {
    a {
      &:nth-child(2) {
        margin: 0 20px;
      }
    }
  }
  .product {
    h3 {
      &::after {
        right: 40% !important;
      }
      &::before {
        left: 40% !important;
      }
    }
    &_content {
      padding: 0 !important;
      grid-template-columns: repeat(3, 1fr) !important;
    }
  }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 80%;
    h4 {
      background-color: tomato;
      padding: 0.5rem;
      font-size: 24px;
      color: #fff;
      font-weight: bold;
    }
    .modal-content_row {
      margin-top: 10px;
      display: flex;
      &_img {
        flex: 1;
        img {
          object-fit: cover;
          width: 100%;
        }
      }
      &_content {
        margin-left: 24px;
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
      }
    }
  }
}

/* Nút Để Mở Chatbox */
.nut-mo-chatbox {
  background-color: tomato;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  border-radius: 50%;
}

/* Ẩn chatbox mặc định */
.Chatbox {
  display: none;
  position: fixed;
  bottom: 4%;
  right: 1.5%;
  border: 3px solid #f1f1f1;
  z-index: 9;
  width: 19rem;
  /* Thêm style cho form */
  .form-container {
    max-width: 300px;
    padding: 0.5rem;
    background-color: white;
  }

  /* thiết lập style textarea */
  .form-container textarea {
    width: 100%;
    padding: 5px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 100px;
  }

  /*thiết lập style cho textarea khi được focus */
  .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
  }
  .Chatbox_btn {
    display: flex;
    /* Sthiết lập style cho nút trong form*/
    .btn {
      background-color: #4caf50;
      color: white;
      padding: 0.5rem;
      border: none;
      cursor: pointer;
      width: 100%;
      margin-bottom: 10px;
      opacity: 0.8;
    }
    /* Thiết lập màu nền cho nút đóng chatbox */
    .nut-dong-chatbox {
      background-color: red;
    }
    /* Thêm hiệu ứng hover cho nút*/
    .btn:hover,
    .nut-mo-chatbox:hover {
      opacity: 1;
    }
  }
}
