@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap"); //
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

// Tác gi
//

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
  min-height: 100vh;
  background: linear-gradient(#a87dbc, #fff, #feea8d);
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: unset;
}
button,
input {
  font-family: "Nunito", sans-serif;
}

.bx {
  font-size: 1.4rem;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.w25 {
  width: 25%;
}
.w50 {
  width: 50%;
}
.w100 {
  width: 100%;
}
.container {
  max-width: 1400px;
  width: 100%;
  margin: auto;
}

.header {
  height: 60px;
  padding: 0 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background: transparent;
  color: #fff;
  z-index: 99;
  transition: 0.4s;

  .menu {
    opacity: 0;
    visibility: hidden;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    animation: fadeID linear 0.3s;

    display: flex;
    flex-direction: column;
    a {
      display: block;
      padding: 1rem;
      background: #000;
      color: #fff !important  ;
      font-weight: bold;
      text-align: center;

      transition: 0.3s;
    }
    .active,
    .btn:hover {
      background-color: tomato !important;
      color: white !important;
    }
  }
  .logo {
    text-align: center;
    img {
      width: 40%;
    }
  }
  .nav_overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 5;

    display: none;
    animation: fadeID linear 0.3s;
  }
  .header_mobile_input {
    display: none;
    &:checked ~ .menu {
      opacity: 1;
      visibility: visible;
    }
    &:checked ~ .nav_overlay {
      display: block;
    }
  }
  .icon {
    padding-right: 2rem;
    display: flex;
    a {
      color: #fff;
      &:nth-child(3) {
        margin-left: 0.5rem;
      }
    }
  }
}
.headerBg {
  background: tomato;
  opacity: 0.8;
}

.banner {
  background-image: url(./banner.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  &_block {
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    img {
      object-fit: cover;
      width: 100%;
      height: auto;
      border-radius: 20px;
      margin: 0 auto 1rem;
    }
    button {
      width: 100%;
      border: 2px solid tomato;
      border-radius: 3rem;
      padding: 0.7rem 0;
      background: tomato;
      color: #fff;
      border-top-left-radius: 5px;
      border-bottom-right-radius: 5px;
      cursor: pointer;
      position: relative;
      transition: 0.3s;
      font-weight: bold;
      font-size: 26px;
      margin: 0 auto;
      &:hover {
        border: 2px solid #fff;
        background-color: transparent;
      }
    }
    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      text-align: center;
      &:nth-child(1) {
        text-transform: uppercase;
        font-size: 2rem;
        margin-bottom: 2rem;
        font-weight: bold;
        color: yellow;
      }
      &:nth-child(2) {
        margin-top: 3rem;
        font-size: 1rem;
        color: #fff;
        font-style: italic;
        font-weight: 600;
      }
    }
    .banner_block_p {
      position: relative;
      font-size: 26px;
      font-style: normal !important;
      margin: 0rem !important;
    }
  }
}

.story {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid rgb(230, 228, 228);
  background: rgba(0, 0, 0, 0.2);
  h3 {
    font-size: 24px;
    padding: 1rem 0 0.5rem 0.5rem;
    position: relative;
    text-transform: uppercase;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      background-color: tomato;
      width: 3px;
      height: 1.5rem;
      border-radius: 20px;
    }
  }
  p {
    line-height: 1.5rem;
    margin-left: 2rem;
    span {
      font-style: italic;
      font-weight: bold;
    }
  }
  ul {
    font-family: "Roboto", sans-serif;
    margin-top: 1rem;
    margin-left: 4rem;
    line-height: 2rem;
    li {
      list-style: inside;
    }
  }
  &_item {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    &_img {
      width: 10%;
      img {
        width: 100%;
        border-radius: 20px;
      }
    }
    p {
      flex: 1;
    }
  }
}

.manage_material {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  .manage_material_item {
    padding: 1rem;
    border-radius: 20px;
    border: 1px solid rgb(230, 228, 228);
    background: rgba(0, 0, 0, 0.2);
    h4 {
      text-align: center;
      font-size: 24px;
      margin-bottom: 1rem;
      text-transform: uppercase;
      border-bottom: 0.2rem solid tomato;
    }
    p {
      line-height: 1.5rem;
    }
    ul {
      line-height: 1.5rem;

      li {
        list-style: decimal;
      }
    }
    &:nth-child(2) {
      padding-left: 2rem;
    }
  }
}

.policy_body {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 20px;
  border: 1px solid rgb(230, 228, 228);
  background: rgba(0, 0, 0, 0.2);
  h4 {
    font-size: 24px;
    padding-left: 0.5rem;
    position: relative;
    text-transform: uppercase;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      background-color: tomato;
      width: 3px;
      height: 1.5rem;
      border-radius: 20px;
    }
  }
  .policy_body_ul {
    margin-top: 1rem;
    margin-left: 2rem;
    line-height: 2;
    li {
      list-style: disc;
    }
  }
}

.product {
  margin-top: 1rem;
  h3 {
    text-transform: uppercase;
    padding: 1rem;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    &::after {
      animation: left 3s infinite linear;
      position: absolute;
      content: "";
      height: 5px;
      right: 26%;
      top: 50%;
      width: 5%;
      background-color: tomato;
      border-radius: 20px;
    }
    &::before {
      animation: left 3s infinite linear;
      position: absolute;
      content: "";
      height: 5px;
      top: 50%;
      left: 26%;
      width: 5%;
      background-color: tomato;
      border-radius: 20px;
    }
  }
  &_content {
    padding: 0 1rem;
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    &_item {
      cursor: pointer;
      &_top {
        overflow: hidden;
        position: relative;
        img {
          object-fit: cover;
          width: 100%;
          max-height: 330px;
          min-height: 330px;
          height: 100%;
          background: #fff;
        }
        &_text {
          opacity: 0;
          visibility: hidden;
          transition: 0.8s linear;

          color: #fff;
          height: auto;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          padding: 0.5rem;
          background: rgba(0, 0, 0, 0.4);
          h4 {
            font-size: 22px;
            margin-bottom: 1.5rem;
          }
        }
      }
      .product_content_item_top:hover .product_content_item_top_text {
        opacity: 1;
        visibility: visible;
      }
      &_bottom {
        display: flex;
        align-items: center;
        button {
          outline: none;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          border: none;
          background-color: #fff;
          height: 40px;
          cursor: pointer;
          &:nth-child(1) {
            width: 80%;
            transition: 0.4s;
            &:hover {
              background-color: tomato;
              color: #fff;
            }
          }
          &:nth-child(2) {
            width: 20%;
            background-color: tomato;
            font-weight: bold;
            i {
              transition: 0.4s;
              color: #fff;
              font-size: 24px;
              transition: 0.8s;
              &:hover {
                transform: rotate(360deg);
              }
            }
          }
        }
      }
    }
  }
}

.about {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  flex-direction: column;
  h3 {
    margin-bottom: 1rem;
    font-size: 24px;
    padding: 0 0 0.5rem 0.5rem;
    position: relative;
    text-transform: uppercase;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      background-color: tomato;
      width: 3px;
      height: 1.5rem;
      border-radius: 20px;
    }
  }
  p {
    margin-left: 2rem;
  }
}

@keyframes fadeID {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes item {
  from {
    bottom: -100px;
  }
  to {
    bottom: 0;
  }
}

@keyframes left {
  from {
    width: 1%;
  }
  to {
    width: 5%;
  }
}

@media screen and (min-width: 900px) {
  .header {
    padding: 1rem 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .menu_mobile {
    display: none;
  }
  .logo {
    img {
      text-align: left !important;
      width: 45%;
    }
  }
  .banner {
    &_block {
      img {
        width: 50%;
      }
      button {
        width: 30%;
      }

      p {
        &:nth-child(1) {
          font-size: 3rem;
          font-weight: bold;
          padding-bottom: 1rem;
        }
        &:nth-child(2) {
          font-size: 2rem;
        }
      }
      .banner_block_p {
        padding-top: 1rem;
      }
    }
  }
  .story {
    border-radius: 10px;
  }
  .menu {
    opacity: 1 !important;
    visibility: visible !important;

    position: relative !important;
    flex-direction: row !important;
    justify-content: center;

    a {
      border-radius: 15px;
      margin-right: 10px;
      padding: 0.5rem !important;
      background-color: transparent !important;
      color: #111 !important;
    }
  }
  .icon {
    a {
      &:nth-child(3) {
        margin-right: 10px;
      }
      i {
        transition: 0.4s;
        padding: 10px;
        border-radius: 50%;
        z-index: 30;
        &:hover {
          background-color: tomato;
        }
      }
    }
  }
  .product {
    h3 {
      &::after {
        right: 40% !important;
      }
      &::before {
        left: 40% !important;
      }
    }
    &_content {
      padding: 0 !important;
      grid-template-columns: repeat(3, 1fr) !important;
    }
  }
  .about {
    border-radius: 20px;
  }
}

h1 {
  margin-top: 300vh;
  bottom: 0;
}

.noScroll {
  // overflow: hidden;
}

/* Nút Để Mở Chatbox */
.nut-mo-chatbox {
  background-color: tomato;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  border-radius: 50%;
}

/* Ẩn chatbox mặc định */
.Chatbox {
  display: none;
  position: fixed;
  bottom: 4%;
  right: 1.5%;
  z-index: 9;
  width: 19rem;
  /* Thêm style cho form */
  .form-container {
    max-width: 300px;
    padding: 0.5rem;
    background-color: white;
    border-radius: 8px;
    h3 {
      margin: 1rem 0 0.5rem;
      font-size: 1.5rem;
    }
  }

  /* thiết lập style textarea */
  .form-container textarea {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 15rem;
    border-radius: 8px;
  }

  /*thiết lập style cho textarea khi được focus */
  .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
  }
  .Chatbox_btn {
    display: flex;
    /* Sthiết lập style cho nút trong form*/
    .btn {
      background-color: #4caf50;
      color: white;
      padding: 0.5rem;
      border: none;
      cursor: pointer;
      width: 100%;
      margin-bottom: 10px;
      opacity: 0.8;
    }
    /* Thiết lập màu nền cho nút đóng chatbox */
    .nut-dong-chatbox {
      background-color: red;
    }
    /* Thêm hiệu ứng hover cho nút*/
    .btn:hover,
    .nut-mo-chatbox:hover {
      opacity: 1;
    }
  }
}

#content {
  position: absolute;
  height: 50px;
  width: 300px;
  margin-left: 170px;
  top: 50%;
  right: -18rem;
  transform: translate(0, -50%);
  z-index: 20;
}

#content.on {
  -webkit-animation-name: in-out;
  animation-name: in-out;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

input {
  box-sizing: border-box;
  width: 17px;
  height: 17px;
  border: 3px solid #fff;
  border-radius: 50%;
  background: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  outline: 0;
  transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
    padding 0.2s;
  transition-delay: 0.4s;
  transform: translate(-100%, 82%);
}

.search {
  background: none;
  position: absolute;
  top: 46%;
  left: 0;
  height: 20px;
  width: 20px;
  padding: 0;
  border-radius: 100%;
  outline: 0;
  border: 0;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.search:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 2px;
  background-color: #fff;
  transform: rotate(45deg);
  margin-top: 7px;
  margin-left: 7px;
  transition: 0.2s ease-in-out;
}

.close {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.close:before {
  content: "";
  position: absolute;
  width: 27px;
  height: 4px;
  margin-top: -1px;
  margin-left: -13px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.close:after {
  content: "";
  position: absolute;
  width: 27px;
  height: 4px;
  background-color: #fff;
  margin-top: -1px;
  margin-left: -13px;
  cursor: pointer;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.square {
  box-sizing: border-box;
  padding: 0 40px 0 10px;
  width: 300px;
  height: 50px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out,
    padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out,
    padding 0.2s;
  -webkit-transition-delay: 0.4s, 0s, 0.4s;
  transition-delay: 0.4s, 0s, 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-97%, 0%);
}
