.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    width: 70%;
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
    h4 {
      padding: 0.5rem;
      font-size: 26px;
    }
    &_body {
      display: grid;
      grid-template-columns: 20% 80%;
      gap: 2rem;
      &_item {
        img {
          width: 100%;
        }

        &:nth-child(2) {
          display: flex;
          flex-direction: column;
        }
        .sex {
          display: flex;
          li {
            padding: 0.3rem 0.5rem;
            border-radius: 20px;
            background-color: #ccc;
            margin-right: 0.5rem;
            color: #fff;
          }
        }
        .size {
          margin-top: 1.5rem;
          display: flex;
          ul {
            display: flex;
            margin-left: 1rem;
            li {
              padding: 0.2rem 0.5rem;
              border-radius: 5px;
              background-color: #ccc;
              margin-right: 1rem;
              transition: 0.4s;
              &:hover {
                background-color: tomato;
                color: #fff;
              }
            }
          }
        }
        .quantity {
          margin-top: 2rem;
          display: flex;
          align-items: center;
          label {
            margin-right: 1rem;
          }
          &_input {
            border: 1px solid rgb(130, 130, 130);
            border-radius: 5px;
            text-align: center;
            width: 40px;
            height: 30px;
            position: relative;
            color: unset;
            transform: none;
          }
        }
        .price {
          margin-top: 2rem;
          font-size: 2rem;
          font-weight: bold;
          color: tomato;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .modal-content {
    padding: 10px !important;
    width: 100% !important;
    .modal-content_body {
      gap: 10px;
      .modal-content_body_item {
        img {
          object-fit: contain;
        }
      }
    }
  }
}
